*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainpage video{
    max-height: 100vh !important;
    width: 100%;
    object-fit: cover;
    top: 0 !important;
    z-index: 999 !important;
}
.logo{
    max-width: 95px !important;
}



/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

/* media query */
/* media query */
/* media query */

@media screen and (max-width: 600px) {
    .logo {
        max-width: 60px !important;
    }
  }

/* media query */
/* media query */

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */